<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
<link th:href="@{/styles/main.css}" rel="stylesheet">
</head>
<body>
	<h1>Welcome to Metro System</h1>
	<hr>
	<h3>Login here</h3>
	<hr>
	<form action="./afterLogin" method="post">
		Enter user-id (email):<input type="text" name="userId" required="required" placeholder="enter your email"> <br><br>
		Enter your password  :<input type="password" name="password" required="required" placeholder="enter your password"> <br><br>
		<input type="submit" value="Log in">
	</form>
	<h5 style="color:red" th:text="${message}"></h5>
	<hr>
	<a href="./" >Home</a>
</body>
</html>